body {
    background-color: moccasin;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.add-image-form {
    border: 2px solid gray;
    display: inline-block;
    padding: 5px;
}
.add-image-form cite {
    font-variant: small-caps;
    font-weight: 700;
}
.add-image-form label {
    display: block;
}
.add-image-form label span {
    display: inline-block;
    width: 100px;
}

.pictureContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pictureContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
    height: fit-content;
}
.pictureContainer img{
    width: auto;
    max-height: 30vw;
    height: auto;
}