body {
    background-color: #34495e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-image-form {
    border: 2px outset #e74c3c;
    background-color: #ff7979;
    display: inline-block;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.add-image-form cite {
    font-variant: small-caps;
    font-weight: 700;
}
.add-image-form label {
    display: block;
}
.add-image-form label span {
    display: inline-block;
    width: 100px;
}
.picture-item {
    background-color: #95a5a6;
    border: 2px solid #3498db;
    box-shadow: 3px 3px 3px #2980b9;
    display: inline-block;
    margin: 10px 20px;
    padding: 7px;
    position: relative;
    vertical-align: top;
    width: fit-content;
}
.picture-item .vote {
    position: absolute;
    left: 10px;
    top: 50px;
}
.picture-item .vote .vote-like, .picture-item .vote .vote-dislike {
    cursor: pointer;
}
.picture-item img {
    float: left;
    margin-left: 30px;
    max-width: 150px;
}
.picture-item p {
    display: inline-block;
}
.picture-content {
    display: flex;
    flex-direction: column;
}
.tool-buttons {
    display: flex;
    width: fit-content;
    align-items: stretch;
    clear: both;
    text-align: right;
}
.tool-comments {
    display: flex;
    align-self: right;
}
.tool-buttons span {
    background-image: url(../images/btns.png) ;
    background-size: 300%;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 3px;
    opacity: .5;
    width: 30px;
}
.picture-addcomment{
    background-image: url(../images/send_comments.png);
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 3px;
    opacity: .5;
    width: 30px;
}
.picture-showcomment{
    background-image: url(../images/show_comments.png);
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 3px;
    opacity: .5;
    width: 30px;
}
.picture-showcomment:hover{
    opacity: 1.0;
}
.picture-addcomment:hover{
    opacity: 1.0;
}
.comment-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px;
    border: 2px inset #27ae60;
    background-color: #16a085;
}


.comment-item span{
   text-align: left;
}
.tool-buttons span:hover {
    opacity: 1.0;
}
.tb-delete {
    background-position: -50% 0;
}
.tb-download {
    background-position: -50% 50%;
}
.tb-edit {
    background-position: 0 0;
}
.tb-recover {
    background-position: 0 50%;
}

.user-block {
    background-color: #7ed6df;
    padding: 7px 10px;
}

.user-block-auth {
    border: 2px solid #22a6b3;
}
.user-block-auth select {
    margin-left: 10vw;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vote-total {
    text-align: center;
}
.vote-like{
    color: #27ae60;
}
.vote-dislike{
    color: #c0392b;
}
.vote-like :hover{
    color: #1abc9c;
}
.vote-dislike :hover{
    color: #e74c3c;
}
